{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block content %} 
    <form method='POST' action='/login'>
	{{ form.csrf_token }}
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">欢迎回来</h3>
	    </div>
	    <div class="panel-body">
		<div class="input-group">
		    {{ form.username.label(class='input-group-addon') }}
		    {{ form.username(class='form-control') }}
		</div>
		<div class="input-group">
		    {{ form.password.label(class='input-group-addon') }}
		    {{ form.password(class='form-control') }}
		</div>
		<div class="error-display">
		    {% if errorReason=='auth_failure' %}
			<span> 用户名或密码错误 </span>
		    {% endif %}
		</div>
	    </div>
	    <div class="btn-group" role="group">
		<input type="submit" class="btn btn-info" value="登录">
	    </div>
	</div>
    </form>
{% endblock %}
